ted-search.zip
Ted Search instruction.docx
target/
.ted.config.json
app/my-wait.sh
.terraform/
iaas/.terraform/
terraform.tfstate
terraform.tfstate.backup
iaas/terraform.tfstate
iaas/terraform.tfstate.backup

ssm.txt
static/
.job.config.json
nginx.bitnami.conf.backup
tyuta.txt
